.body__container{
    width: 90%;
    background-color: var(--colour-grey-light-1);
    margin: 4rem auto;
    height: auto;
}

.header{
    height: 15vh;
    background-color: #fff;
    border-bottom: 1px solid var(--colour-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
}
.section {
    display: flex;

}


.sidebar{
    background-color: var(--colour-grey-dark-1);
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-info{

    flex:1;
    height: 50rem;
}
.footer{
    background-color: rgb(14, 110, 122);
}
p {
    font-size: 16px;
}
ul,li {
    font-size: 1.4rem;
    margin-left: 2rem;
}